# Dependencies
node_modules/
.venv/
venv/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
dist-ssr/

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Python cache
__pycache__/
*.py[cod]
.vercel
.env*
